// footer section
.footer-section{
    background-color: $secondary-color;
    padding: 60px 0 80px 0;

    .footer-wid-header{
        color: #fff;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .menu{
        text-decoration: none;
        margin: 0;
        padding: 0;
        color: #818181;

        li {
            list-style-type: none;
            display: block;
            margin-bottom: 5px;
            font-size: 0.9em;
            
            a {
                color: inherit;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

// copyright section
.copyright{
    padding: 10px 0 10px 0;
    background-color: #00021a;
    border-top: 1px solid #fff;
    .copyright-owner{
        color: #818181;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0;
        text-align: left;
    }
    .copyright-developer{
        color: #818181;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 0;
        text-align: right;
    }
}