@use "sass:math";

.homepage {
    // Top Bar
    .topbar {
        background-color: $secondary-color;
        color: #fff;
        padding: 10px 0;

        .topbar-main {
            display: flex;
            justify-content: space-between;

            .left {
                p {
                    font-family: $primary-font;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }

            .right {
                display: flex;

                a {
                    color: #fff;
                    text-decoration: none;
                    padding: 0 8px;
                    transition: opacity 0.15s ease-in-out;

                    &:hover {
                        opacity: 0.75;
                    }
                }
            }
        }
    }

    // Background
    .bkg-section {
        background: url('../images/bkg-img.png');
        background-repeat: repeat;
    }

    // Services Section
    .services-section {
        padding: 40px 0;

        .section-title {
            margin-bottom: 50px;

            .heading {
                font-family: $primary-font;
                font-weight: 700;
                color: $primary-color;
                text-transform: uppercase;
                text-align: center;
                font-size: 2.3rem;
                margin-bottom: 0;
            }
        }

        .section-main {
            .service {
                position: relative;

                .back-layer {
                    position: relative;

                    img {
                        width: 100%;
                    }

                    .overlay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: linear-gradient(45deg, $secondary-color 0%,rgba($secondary-color, 0.7) 30%, rgba($secondary-color, 0) 100%);
                        opacity: 0.67;
                    }

                    .text-layer {
                        position: absolute;
                        bottom: 30px;
                        left: 30px;

                        .title {
                            font-family: $primary-font;
                            font-weight: 700;
                            text-transform: uppercase;
                            color: #fff;
                            margin-bottom: 0;
                            user-select: none;
                            transition: opacity 0.1s ease-out;
                            transition-delay: 0.2s;
                        }
                    }
                }

                .front-layer {
                    position: absolute;
                    top: 0;
                    left: math.div($grid-gutter-width, 2);
                    width: calc(100% - #{$grid-gutter-width});
                    height: 0;
                    background: rgba(darken($primary-color, 20), 0.6);
                    backdrop-filter: blur(1.5px);
                    text-align: center;
                    color: #fff;
                    transition: height 0.2s ease-in-out;
                    transition-delay: 0.2s;

                    .text-container {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.3s ease-in;

                        .title {
                            font-weight: 700;
                            text-transform: uppercase;
                        }
    
                        .description {
                            width: 80%;
                            margin: 0 auto;
                            font-weight: 300;
                            font-size: 0.9em;
                        }

                        .link {
                            color: #fff;
                            font-weight: 600;
                            text-decoration: none;
                            position: relative;
                            display: inline-block;
                            margin-top: 20px;
                            transition: all 0.3s ease-in-out;

                            &::before {
                                content: '';
                                width: 100%;
                                height: 2px;
                                position: absolute;
                                left: 50%;
                                bottom: 0;
                                transform: translateX(-50%);
                                background-color: #fff;
                                transition: all 0.3s ease-in-out;
                            }

                            &:hover {
                                &::before {
                                    width: calc(100% + 10px);
                                }
                            }
                        }
                    }
                }

                &:hover {
                    .back-layer {
                        .text-layer {
                            .title {
                                opacity: 0;
                                transition-delay: 0;
                            }
                        }
                    }

                    .front-layer {
                        height: 100%;
                        transition-delay: 0s;

                        .text-container {
                            opacity: 1;
                            visibility: visible;
                            transition-delay: 0.2s;
                        }
                    }
                }
            }
        }
    }
}